		*{
			transition:all ease 0.2s;
		}
                body{
                    overflow-x: hidden;
                }

		.square {

			text-align:center;
			height:200px;
			width:250px;
		}
		
		.square:hover{
			background:rgb(240,240,240);
			box-shadow:inset 0 0 20px rgb(50,50,50);
			cursor: pointer;
		}
		div h2{
			font-size:20px;
			color:grey;
                        
		}
		.square:hover *{
			 transform: scale(0.95,0.95);
		}
		.row {
			display: table;
		}


.square:hover{
        background:rgb(240,240,240);
        box-shadow:inset 0 0 20px rgb(50,50,50);
        cursor: pointer;

}

div h2{
        font-size:20px;
        color:grey;


}
a{
    text-decoration:none !important;
}
.square:hover *{
         transform: scale(0.95,0.95);
}
.row {
        display: table;
}


[class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
}

img{
        width:30%;
        padding:30px 0 30px 0;
        min-width:250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.slide{
        width:500px;
        height:500px;
}

.list-group{
    padding:10px 0 20px 0;
}
.graph{
    max-width:960px;
    width:100%;
    float: none;
    text-align: center;
    margin: 0 auto;
}
h1{
   padding-top:20px;
}
.modal-form{
    padding:30px;
}
h4{
    margin:0;
    padding:0;
}
h2,h2:hover,a:hover, a:active, a:link, a:visited{
    text-decoration: none;
}

.home{
    font-size: 25px;
}
.overview{
    text-align: right;
    padding:20px;
}
.overview div{
    background:red;
    display:inline-block;
}
.overview canvas{
    display:inline-block;
    position:relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#notif{
    font-size:14px;
    position:absolute;
    background:red;
    border-radius:20px;
    top:-5px;
    right:20px;
    height:18px;
    width:18px;
    line-height:15px;
    text-align: center;
    color:white;
    
}
.bell{
    font-size:20px;
  padding:0;
  margin-right:20px;
  color:white;
   opacity:0.5;
}

.links{
    color:white;
}
.links > div{
    display:inline-block;
}

[class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
}

img{
        width:30%;
        padding:30px 0 30px 0;
        min-width:250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.slide{
        width:500px;
        height:500px;
}

.list-group{
    padding:10px 0 20px 0;
}
.graph{
    max-width:960px;
    width:100%;
    float: none;
    text-align: center;
    margin: 0 auto;
}
h1{
   padding-top:20px;
}
.modal-form{
    padding:30px;
}
h4{
    margin:0;
    padding:0;
}
h2,h2:hover,a:hover, a:active, a:link, a:visited{
    text-decoration: none;
}

.home{
    font-size: 25px;
}

.square i{
    font-size:70px;
    margin:35px;
}

#groupInfo{
    height:80vh;
}

.list-group-item a{
    color:black;
}
.active a{
    color:white;
}

.active a:hover{
    color:white;
}

.group-container{
    margin-top:20px;
}
.groups{
    background:rgba(255,255,255,0.75);
}

