

.menu{
    top: 48px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform:translateX(-60px);
}

.msg-head{
    padding:10px;
    border-bottom: 1px rgb(220,220,220) solid;
    background:rgb(220,220,220);
    border-radius: 8px 8px 0 0;
}
.msg-body{
    overflow-y: scroll;
    height:300px;
    
}
#msg{
    right:20px;
    bottom:0;
    width:300px;
    background:rgba(255,255,255,0.9);
    border:1px solid rgb(220,220,220);
    position: fixed;
    border-radius: 10px 10px 0 0;
    z-index: 3;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
    display:none;
}
#msg .msg{
    border-radius: 8px;
    width: 170px;
    padding:10px;
    margin:10px;   
}

.msg-footer{
    width:100%;
    display:inline;
    padding:0;
}

.msg-footer input{
    display:inline-block;
    width:250px;
    transform:translateY(2px);
    border-radius: 8px 0 0 8px;
}
.send{
    font-size:20px;
    margin:0;
    padding:0;
}

.close{
    float:right;
    padding:0;
    margin:0;
}

.msg-footer .btn{
    border-radius:0 8px 8px 0;
    width:47px;
    margin:0;
    margin-left:-4px;
    text-align: center;
    display:inline-block;
}

#msg .from{
    background: rgb(180,220,255);
    margin-left:100px;
}

#msg .to{
    background:rgb(230,230,230);
    
}

.msg-title{
    display:inline;
}
.carousel{
    text-align: center;
    background:rgba(255,255,255,0.9);
    color:black;
    height:350px;
    width:102.7%;
}

.chart-container{
    text-align:left;
    position:absolute;
    
}

#myChart{
    
    margin:auto;
    height:250px;
}

.content {
    font-size: 18px;
    margin-top:50px;
    position:absolute;
    display:inline;
    text-align:left;
    
}


.msg-btn{
    margin: 0 10px 0 10px;
    float:right;
    color:rgb(0,90,255)!important;
}

.slideOutDown,.slideInUp {
    animation-duration: 0.5s;
}


.progress{
    height:50px;
}


#groupInfo{
     background: rgba(255,255,255,0.8);
}
body{
    transition: none; 
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url(../img/waves.jpg) no-repeat fixed center;
    overflow-x: hidden;
    background-size: cover;

}
body:after {
    background: rgba(0,0,0,0.1);
}

.container{
    
    margin-bottom: 50px;
}
.navbar{
    margin-bottom:0;
   
}

.bar{
    width:100%;
    height:62px;
   
    border-bottom: 1px #5bd7d7 solid;
}
.main{
    background:rgba(255,255,255,0.85);
    margin-bottom: 50px;
    padding: 30px;
}

.carousel-item{
    color:rgba(0,0,0,0.5);
    padding:0 100px;
}
.carousel-item .progress{
    width:50%;
    margin:auto;
}

h1 a i{
    font-size:40px;
    padding:0;
}

.goal{
    margin-bottom:20px;
    background:rgba(255,255,255,0.6);
}

.goal .progress{
    background:rgba(255,255,255,0.6);
    border:1px solid rgba(0,0,0,0.2);
}

.progress-bar{
    width:0;
    transition: all ease 1s;
}


.add{
    display:inline-block;
    margin-bottom:15px;
    margin-left:10px;
}
.add-small{
    float:right;
    height:25px;
    width:25px;
    margin:0;
    padding:0;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
ol.carousel-indicators li{
    background: rgba(0,0,0,0.5);
}

ol.carousel-indicators li.active
 {
  
  background: black;
 }
.tab-content{
    background:white;
    padding: 10px 15px 0 15px;
    border-radius: 0 0 10px 10px;
    display:none;
}
.medal{
    height:20px;
    width:20px;
    margin-bottom:-5px;
    display:inline-block;
}
ul .list-group-item:first-of-type .medal{
    background-image: url(../img/gold.svg);
}
ul .list-group-item:nth-of-type(2) .medal{
    background-image: url(../img/silver.svg);
}
ul .list-group-item:nth-of-type(3) .medal{
    background-image: url(../img/bronze.svg);
}

.list-group-item h3{
    cursor:pointer;
}
td .modal-form{
    padding:0;
}